* {
  color: black;
  font-weight: 700;
}

ion-content {
  --background:#bc3592;
}

ion-row{
  display: flex;
  justify-content: center;
}

ion-grid{
  position: relative;
  top: 25%;
  font-size: larger;
}

ion-card {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 14px;
  padding: 15px;

  h1 {
    color: black;
    font-weight: 900;
  }
}
