.datetime {
  display: inline-block;
  font-size: 14px;
  width: 90%;
  margin: 0;
  padding: 0;
  border-color: #E0E0E0;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}


mat-form-field.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin-bottom: 16px;
}

.a{
  padding: 0;
  margin: 0;
}

.indicator_phone {
  width: 30% !important;
}

.field_phone {
  width: 50% !important;
}

.row_phone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#btn_terms_conditions {
  background-color: #ffba00;
  width: 80%;
  color: #ffffff;
  font-weight: 800;
  font-size: 15px;
  border-radius: 8px;
}

#btn_submit {
  background-color: #3880FF;
  width: 100%;
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  height: 40px;
  margin-bottom: 20%;
}

mat-hint.mat-hint{
  font-size: 10px;
}

.error-message div{
  color: red;
}

.mat-form-field.expanded {
  height: auto;
  margin-bottom: 45px; /* ou outro valor adequado */
}
