<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedCity + ' itineraries' | customTranslate | async}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      [pullingText]="'Pull to refresh' | customTranslate | async"
      refreshingSpinner="circles"
      [refreshingText]="'refreshing...' | customTranslate | async"
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-searchbar
        debounce="500"
        (ionChange)="ionChange($event)"
        color="light"
        [placeholder]="'Search for a Tour' | customTranslate | async"
      >
      </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <!-- Change City -->
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Choose a city' | customTranslate | async }}</mat-label>
          <mat-select [(value)]="selectedCity" (selectionChange)="onCityChange($event)">
            <mat-option value="Near Me">{{ 'Near me' | customTranslate | async }}</mat-option>
            <mat-option value="lisboa">{{ 'Lisboa' | customTranslate | async }}</mat-option>
            <mat-option value="porto">{{ 'Porto' | customTranslate | async }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3"class="ion-text-center" *ngIf="!isLoading && (!loadedTrips || loadedTrips.length <= 0)">
        <p>There are no bookable places right now, please come back later</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center" *ngIf="!isLoading && loadedTrips.length > 0">
        <ion-item-sliding *ngFor="let road of loadedTrips">
          <ion-card>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <ion-img [src]="road.image"></ion-img>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col class="ion-text-start margin-left">
                  <h2>{{ road.title | customTranslate | async }}</h2>
                </ion-col>
                <ion-col class="ion-text-end margin-right">
                  <p class="priceDuration">{{ 'Price:' | customTranslate | async }}€ {{ road.price }} {{ 'Duration:' | customTranslate | async }} {{ road.duration }}h</p>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center" style="padding-top: 6px;">
                <ion-col class="ion-text-start margin-left" size="8">
                  <p class="description">{{ road.description | customTranslate | async }}</p>
                </ion-col>
                <ion-col class="margin-right">
                  <a [routerLink]="'details/' + road.id">{{ 'See details' | customTranslate | async }}</a>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button (click)="showRoteiro(road)">{{ 'Book tour' | customTranslate | async }}</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
