<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="col-img ion-text-center">
        <ion-img src="assets/BestRideLogo2.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <form
                id="login_form"
                class="form"
                [formGroup]="profileForm"
                (ngSubmit)="login()"
              >
                <ion-list class="ion-no-padding">
                  <mat-form-field appearance="outline">
                    <mat-label>{{"Email" | customTranslate | async}}</mat-label>
                    <input matInput formControlName="email" type="email" />
                    <br>
                    <mat-error *ngFor="let error of errorMessages.email" class="ion-text-start">
                      <ng-container
                        *ngIf="email.hasError(error.type) && ( email.touched || email.dirty)"
                      >
                        <small class="error-message"
                          >{{error.message | customTranslate | async}}</small
                        >
                      </ng-container>
                    </mat-error>
                  </mat-form-field>


                  <mat-form-field appearance="outline">
                    <mat-label>{{'Password' | customTranslate | async}}</mat-label>
                    <input
                      matInput
                      formControlName="password"
                      [type]="hide ? 'password' : 'text'"
                    />
                    <br>
                    <div
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon
                        >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon
                      >
                    </div>
                    <mat-error>
                      <div *ngFor="let error of errorMessages.password">
                        <ng-container
                          *ngIf="password.hasError(error.type) && ( password.touched || password.dirty)"
                        >
                          <small class="error-message"
                            >{{error.message | customTranslate | async}}</small
                          >
                        </ng-container>
                      </div>
                    </mat-error>
                  </mat-form-field>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6" class="ion-text-start">
                        <mat-checkbox formControlName="remember"
                          >{{"Remember me" | customTranslate | async}}
                        </mat-checkbox>
                      </ion-col>
                      <ion-col size="6" class="ion-text-end">
                        <p>
                          <u (click)="recover_account()"
                            >{{'Forgot your password?' | customTranslate | async}}</u
                          >
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-list>
              </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button mat-button id="btn_login">Login</button>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <!-- Texts -->
        <div class="texts ion-text-center">
          <p style="margin: 0">
            {{'Dont have an account? ' | customTranslate | async}}<u
              (click)="createAccount()"
              >{{'Sign up' | customTranslate | async}}</u
            >
          </p>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="buttons_social ion-text-center">
        <!-- Social Login Buttons-->
        <button mat-flat-button id="btn_google">
          <img src="../../assets/icon/google_logo.svg" id="social_logo" />
          {{'Login with Google' | customTranslate | async}}
        </button>
        <br />
        <button mat-flat-button id="btn_face">
          <img src="../../assets/icon/facebook_logo.svg" id="social_logo" />
          {{'Login with Facebook' | customTranslate | async}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
