* {
  color: black;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  width: 90%;
  color: black;
  margin-top: 10px;
}

#btn_recover {
  background-color: #ff3f00;
  margin-top: 10px;
  width: 90%;
  height: 50%;
  color: #ffffff;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

ion-icon{
  width: 100px;
  height: 100px;
  color: gray;
}

ion-grid{
  margin-top: 30px;
}


